{% extends 'layout.html' %}
{% block header %}
    <title>Vibes Button: API key</title>
    <!-- Other head elements specific to the options page -->
{% endblock %}
{% block content %}
    <div class="api-config-container">
        <h1>Configure API Key</h1>
        <div id="extension-options">
            <label for="api-key" class="api-key-label">OpenAI API Key:</label>
            <div class="input-group">
                <input type="text" placeholder="API-key" id="api-key" class="api-key-input">
                <button id="save" class="save-button">Save API Key</button>
                <p class="error-text">Invalid API Key</p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='options.js') }}"></script>
{% endblock %}

