{% extends 'layout.html' %}
{% block header %}
    <title>Vibes Button: API key</title>
    <!-- Other head elements specific to the options page -->
{% endblock %}
{% block content %}
    <h1>Configure API Key</h1>
        <div id="extension-options">
            <h2 for="api-key">OpenAI API Key:</h2>
            <div style="margin-top: 10px;">
                <button id="save" class="activation-button">Save API Key</button>
                <input type="text" placeholder="API-key" id="api-key">
                <div id="error-message">Invalid API Key</div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='options.js') }}"></script>
{% endblock %}

