<!DOCTYPE html>
<html>
<head>
    <title>Login Successful</title>
    <!-- Include other necessary head elements -->
</head>
<body>
    <script>
        function checkContentScriptReady() {
            if (window.contentScriptReady) {
                var userId = {{ user_id }};
                console.log("content found, sending ID of " +userId)
                window.postMessage({ type: 'SET_USER_ID', userId: userId }, '*');
                // Redirect or other logic
            } else {
                console.log("waiting for content ready");
                setTimeout(checkContentScriptReady, 100); // Check again after 100 ms
            }
        }
        window.addEventListener('DOMContentLoaded', (event) => {
            checkContentScriptReady();
        });
    </script>

    <h1>Login Successful</h1>
    <p>Redirecting to home page...</p>
</body>
</html>
