<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link href="static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="centered-container">
        <div class="centered-elements">
            <div class="asthetic-container">
                <h1>Vibes Button :)</h1>
                <h2>Register</h2>
                <form action="/register" method="post" id="register-form" class="vertical-form">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit" class="btn">Register</button>
                </form>

                <p>Already have an account? <a href="/login">Login here</a></p>
                <p style="color: red;">{{error}}</p>
            </div>
        </div>
    </div>
</body>
</html>
