:root {
    --primary-color: #ff4500; /* Example primary color */
    --secondary-color: #333; /* Example secondary color */
    --background-color: #f3f3f3; /* Example background color */
}
 /* Style for the popup container */
 .popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: var(--secondary-color);
    border-radius: 5px;
    display: block; /* Initially hide the popup */
}

/* Style for the popup content */
.popup-content {
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: flex-end; /* Align content to the right within the container */
    padding-top: 10px;
    padding-bottom: 10px;
    pointer-events: none;
}

/* Style for the text box */
#text-box {
    max-width: 50%;
    flex-grow: 1; /* Allow the text box to grow and take available space */
    white-space: wrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis; /* Show ellipsis (...) for long text */
    background-color: var(--background-color);
    padding: 5px;
    border-radius: 5px;
    pointer-events: all;
    cursor: pointer;
}

/* Style for the activation button */
.activation-button {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    pointer-events: all;
    cursor: pointer;
}